<!-- navbar -->
<core-header class="app-header navbar"></core-header>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include="'views/core/aside.html'" class="app-aside hidden-xs"></div>
<!-- / menu -->

<!-- content -->
<!-- <div class="app-content">
<div ui-butterbar></div>
<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
<div class="app-content-body fade-in-up" ui-view></div>
</div> -->
<div class="app-content crud">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'PRODUCT_LIST' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
  </div>
  <div data-ng-include="'views/crud/partial.status_msg.html'"></div>
  <div class="app-content-body">
    <div ng-include="'views/crud/exclusion_modal.html'" class='__hidden'></div>
    <div ng-include="templateURL"></div>
    <div class="content-body-header" data-ng-include="'views/crud/partial.crud_header.html'"></div>

    <div class="content-table">
      <table style="width:100%" class="table">
        <tr>
        <tr class="thead">
          <th colspan="2" style="cursor: pointer;" ng-click="changeSort('idProduto')"><i class="glyphicon glyphicon-user icon"></i>{{'GENERIC_ID'
            | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
          <th style="cursor: pointer;" ng-click="changeSort('descricao')"><i
            class="glyphicon glyphicon-briefcase icon"></i>{{'GENERIC_DESCRIPTION' | translate}} <i class="fa fa-sort icon"
                                                                                            title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
          </th>
          <th style="cursor: pointer;" ng-click="changeSort('precoCusto')"><i class="glyphicon glyphicon-file icon"></i>{{'PRODUCT_COST_PRICE'
            | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
          <th style="cursor: pointer;" ng-click="changeSort('precoVenda')"><i class="fa  fa-building icon"></i>{{'PRODUCT_SALE_PRICE'
            | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate }}"></i></th>
            <th style="cursor: pointer;" ng-click="changeSort('descricaoCompleta')"><i class="fa  fa-building icon"></i>{{'GENERIC_FULL_DESCRIPTION'
              | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
        </tr>
        </tr>
        <tr ng-repeat="p in produto.content | filter: hasLogo" data-id="{{p.idProduto}}" ng-click="editProduto({{p.idProduto}})">
          <td class="row-logo"><img class="row-logo-img" ng-src="images\{{p.imagem || 'icon-question-radio'}}-420x200.jpg" alt=""/></td>
          <td>{{p.idProduto}}</td>
          <td>{{p.descricao}}</td>
          <td>{{p.precoCusto |currency}}</td>
          <td>{{p.precoVenda| currency}}</td>
          <td>{{p.descricaoCompleta}}</td>
        </tr>
      </table>
    </div>

    <div data-ng-include="'views/crud/partial.crud_footer.html'"></div>

  </div>
</div>
<!-- modal -->


<!-- /content -->

<!-- footer -->
<!-- <div class="app-footer wrapper b-t bg-light">
<span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
&copy; 2016 Copyright.
</div> -->
<!-- / footer -->

<div data-ng-include=" 'views/core/settings.html' " class="settings panel panel-default">
</div>
