<div class="crud_add __hidden" data-id="{{client_id}}">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'GENERIC_SAVE' | translate}} / {{'GENERIC_EDIT' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
    <div class="close-action" ng-click="hideAdd()">
      {{'ACTION_CLOSE' | translate}}
      <a class="btn btn-md btn-bg btn-rounded btn-default btn-icon"><i class="glyphicon glyphicon-remove icon"></i></a>
    </div>
  </div>
  <div data-ng-include=" 'views/crud/partial.status_msg.html' "></div>
  <div class="app-content-body">

    <div class="content-body-header" data-ng-include=" 'views/crud/partial.crud_add_header.html' "></div>

    <form class="content-form form-group" name="clientForm" novalidate action="index.html" method="post">
      <div class="form-data row">

		<div class="form-group col-sm-12">
          <label class="col-sm-12 control-label" for="descricao"><i class="glyphicon glyphicon-info-sign icon"></i>
            {{'GENERIC_DESCRIPTION' | translate}}</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="descricao" ng-model="newproduto.descricao" ng-maxlength="255">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-12 control-label" for="name"><i class="glyphicon glyphicon-info-sign icon"></i>
            {{'PRODUCT_COST_PRICE' | translate}}</label>
          <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" id="precoCusto" name="precoCusto" ng-model="newproduto.precoCusto" ng-minlength="0"
                   ng-maxlength="255" ng-required="true">
            <div class="field-message" ng-class="{'has-error': clientForm.companyName.$invalid}"
                 ng-messages="clientForm.name.$error" ng-if='clientForm.name.$dirty' ng-cloak>
              <div ng-message="required">{{'ACTION_REQUIRED' | translate}}</div>
              <div ng-message="minlength">{{'ACTION_REQUIRED_MINIMUM_CHARACTERS' | translate}}</div>
              <div ng-message="maxlength">{{'ACTION_REQUIRED_MAXIMUM_CHARACTERS' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label class="col-sm-12 control-label" for="name"><i class="glyphicon glyphicon-info-sign icon"></i>
            {{'PRODUCT_SALE_PRICE' | translate}}</label>
          <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" id="precoVenda" name="precoVenda" ng-model="newproduto.precoVenda" ng-minlength="0"
                   ng-maxlength="255" ng-required="true">
            <div class="field-message" ng-class="{'has-error': clientForm.companyName.$invalid}"
                 ng-messages="clientForm.name.$error" ng-if='clientForm.name.$dirty' ng-cloak>
              <div ng-message="required">{{'ACTION_REQUIRED' | translate}}</div>
              <div ng-message="minlength">{{'ACTION_REQUIRED_MINIMUM_CHARACTERS' | translate}}</div>
              <div ng-message="maxlength">{{'ACTION_REQUIRED_MAXIMUM_CHARACTERS' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
              <label class="col-sm-12 control-label" for="descricaoCompleta"><i class="glyphicon glyphicon-info-sign icon"></i>
                {{'GENERIC_FULL_DESCRIPTION' | translate}}</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="descricaoCompleta" ng-model="newproduto.descricaoCompleta" ng-maxlength="255">
              </div>
          </div>

          <div class="form-group col-sm-12">
            <label class="col-sm-12 control-label" for="active"><strong>{{'VENDIVEL' | translate}} <span class="required">*</span></strong></label>
            <div class="form-group col-sm-4">
              <div class="col-sm-12">
                <div class="form-inline">
                  <div class="control-group">
                    <label class="i-switch bg-primary"><input type="checkbox" ng-model="newproduto.vendivel" ><i></i></label>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="overlayer-actions">
        <div class="btn btn-default btn-delete __btn_pink" ng-click="showexclusionmodal()">
          <a><span>{{'ACTION_REMOVE' | translate}}</span></a>
        </div>
        <div class="btn btn-default btn-save-edit" ng-disabled="clientForm.$invalid" ng-click="saveProduto()">
          <a><span>{{'ACTION_SAVE' | translate}}</span></a>
        </div>
      </div>
    </form>

  </div>

</div>
