<div class="crud_add __hidden" data-id="{{client_id}}">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'GENERIC_SAVE' | translate}} / {{'GENERIC_EDIT' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
    <div class="close-action" ng-click="hideAdd()">
      {{'ACTION_CLOSE' | translate}}
      <a class="btn btn-md btn-bg btn-rounded btn-default btn-icon"><i class="glyphicon glyphicon-remove icon"></i></a>
    </div>
  </div>
  <div data-ng-include=" 'views/crud/partial.status_msg.html' "></div>
  <div class="app-content-body">

    <div class="col-md-12" ng-repeat="pe in pedidosClienteCartStatic">

      <div class="col-md-12">
      <h3>Pedido número {{pe.idPedido}}</h3>
      </div>

      <form class="content-form form-group" name="clientForm" novalidate action="index.html" method="post">
        <div class="form-data row">

      <div class="form-group col-sm-12">
        <div class="content-table">
          <table style="width:100%" class="table">
            <tr>
            <tr class="thead">
              <th colspan="2" style="cursor: pointer;" ng-click="changeSort('idProduto')"><i class="glyphicon glyphicon-user icon"></i>{{'GENERIC_ID'
                | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
              <th style="cursor: pointer;" ng-click="changeSort('descricao')"><i
                class="glyphicon glyphicon-briefcase icon"></i>{{'GENERIC_DESCRIPTION' | translate}} <i class="fa fa-sort icon"
                                                                                                title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
              </th>
              <th style="cursor: pointer;" ng-click="changeSort('precoVenda')"><i class="fa  fa-building icon"></i>Valor
                 <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate }}"></i></th>
                <th style="cursor: pointer;" ng-click="changeSort('descricaoCompleta')"><i class="fa  fa-building icon"></i>{{'GENERIC_FULL_DESCRIPTION'
                  | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
                  <th>Ações</th>
            </tr>
            </tr>
            <tr ng-repeat="p in pe.produtos | filter: hasLogo" data-id="{{p.idProduto}}" >
              <td class="row-logo"><img class="row-logo-img" ng-src="images\{{p.imagem || 'icon-question-radio'}}-420x200.jpg" alt=""/></td>
              <td>{{p.idProduto}}</td>
              <td>{{p.descricao}}</td>
              <td>{{p.precoVenda| currency}}</td>
              <td>{{p.descricaoCompleta}}</td>
              <td>
                  <button class="btn btn-danger btn-sm pull-right" style="margin-left: 3px;"><i class="fa fa-trash-o"></i></button>
									<button class="btn btn-info btn-sm pull-right"><i class="fa fa-refresh"></i></button>
							</td>
            </tr>
            <tr>
              <td><a href="/#/pedido" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuar comprando</a></td>
              <td></td><td></td>
              <td>Valor total: {{calcTotal(pe.produtos) | currency }}</td>
              <td></td>
              <td><a href="/#/pedido" class="btn btn-success pull-right">Finalizar pedido <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </table>
        </div>
      </div>

        </div>
      </form>

    </div>



  </div>

</div>
