<div class="crud_add __hidden" data-id="{{client_id}}">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'GENERIC_SAVE' | translate}} / {{'GENERIC_EDIT' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
    <div class="close-action" ng-click="hideAdd()">
      {{'ACTION_CLOSE' | translate}}
      <a class="btn btn-md btn-bg btn-rounded btn-default btn-icon"><i class="glyphicon glyphicon-remove icon"></i></a>
    </div>
  </div>
  <div data-ng-include=" 'views/crud/partial.status_msg.html' "></div>
  <div class="app-content-body">

    <form class="content-form form-group" name="clientForm" novalidate action="index.html" method="post">
      <div class="form-data row">

		<div class="form-group col-sm-12">
      <div class="content-table">
        <table style="width:100%" class="table">
          <tr>
          <tr class="thead">
            <th colspan="2" style="cursor: pointer;" ng-click="changeSort('idProduto')"><i class="glyphicon glyphicon-user icon"></i>{{'GENERIC_ID'
              | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
            <th style="cursor: pointer;" ng-click="changeSort('descricao')"><i
              class="glyphicon glyphicon-briefcase icon"></i>{{'GENERIC_DESCRIPTION' | translate}} <i class="fa fa-sort icon"
                                                                                              title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('precoVenda')"><i class="fa  fa-building icon"></i>Valor
               <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate }}"></i></th>
              <th style="cursor: pointer;" ng-click="changeSort('descricaoCompleta')"><i class="fa  fa-building icon"></i>{{'GENERIC_FULL_DESCRIPTION'
                | translate}} <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i></th>
              <th>Selecionar</th>
          </tr>
          </tr>
          <tr ng-repeat="p in produto.content | filter: hasLogo" data-id="{{p.idProduto}}" ng-click="editProduto({{p.idProduto}})">
            <td class="row-logo"><img class="row-logo-img" ng-src="images\{{p.imagem || 'icon-question-radio'}}-420x200.jpg" alt=""/></td>
            <td>{{p.idProduto}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.precoVenda| currency}}</td>
            <td>{{p.descricaoCompleta}}</td>
            <td><label class="i-switch bg-primary"><input type="checkbox" ng-model="p.selecionado" ><i></i></label></td>
          </tr>
        </table>
      </div>
    </div>

      </div>
      <div class="overlayer-actions">
        <div class="btn btn-default btn-delete __btn_pink" ng-click="showexclusionmodal()">
          <a><span>{{'ACTION_REMOVE' | translate}}</span></a>
        </div>
        <div class="btn btn-default btn-save-edit" ng-disabled="clientForm.$invalid" ng-click="savePedido()">
          <a><span>{{'ACTION_SAVE' | translate}}</span></a>
        </div>
      </div>
    </form>

  </div>

</div>
