<!-- navbar -->
<core-header class="app-header navbar"></core-header>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include="'views/core/aside.html'" class="app-aside hidden-xs"></div>
<!-- / menu -->

<!-- content -->
<!-- <div class="app-content">
<div ui-butterbar></div>
<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
<div class="app-content-body fade-in-up" ui-view></div>
</div> -->
<div class="app-content crud">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">PEDIDO</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
  </div>
  <div data-ng-include="'views/crud/partial.status_msg.html'"></div>
  <div class="app-content-body"  style="min-height: 500px;">
    <div ng-include="'views/crud/exclusion_modal.html'" class='__hidden'></div>
    <div ng-include="templateURL"></div>


    <div class="content-table">
      <div class="col-md-12">
        <div class="col-md-6">
           <i class="pull-right fa fa-plus-square-o fa-5x" style="font-size: 25em; cursor:pointer;" aria-hidden="true" ng-click="showAdd()"></i>
        </div>
        <div class="col-md-6">
            <i ng-if="cartIsOn" ng-click="showList()" class="fa fa-shopping-cart"  style="font-size: 25em; cursor:pointer;" aria-hidden="true"></i>
            <i ng-if="!cartIsOn" class="fa fa-shopping-cart" ng-disabled="!cartIsOn" title="Carrinho indisponível."  style="font-size: 25em; cursor:not-allowed; color:color: lightgrey;opacity: 0.5;" aria-hidden="true"></i>
            <span ng-if="cartIsOn" class="badge badge-sm up bg-danger pull-right-xs" style="font-size: 50px;">{{pedidosClienteCart.length}}</span>
            <span ng-if="!cartIsOn" class="badge badge-sm up bg-default pull-right-xs" style="font-size: 50px;" title="Carrinho indisponível."><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- modal -->


<!-- /content -->

<!-- footer -->
<!-- <div class="app-footer wrapper b-t bg-light">
<span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
&copy; 2016 Copyright.
</div> -->
<!-- / footer -->

<div data-ng-include=" 'views/core/settings.html' " class="settings panel panel-default">
</div>
